@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    /*vh 브라우저 높이 전체*/
    text-align: center;
    background-image: url(images/back.jpg);
    /*background 축약 속성, 속성별 띄어쓰기 순서 무관 - 단, url과 ()는 하나의 속성이므로 반드시 붙여쓰기*/
    /*background-attachmendt: fixed*/
    /*배경이미지 고정 - 축약속성에 포함*/
    background-size: cover;
    /*    배경이미지 크기 영역 제거 - 축약속 성과 별도로 입력*/
}

h1 {
    position: relative;
    top: 45%;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 3px 5px #000;
    /*글자의 그림자 지정 : 가로위치 세로위치 번짐 색상*/
}

#lnb {
    width: 100%;
    height: 40px;
    background-color: #333;
    position: sticky;
    top: 0;
}

#lnb ul {
    width: 800px;
    margin: 0 auto;
}

#lnb ul a {
    display: block;
    line-height: 40px;
    width: 200px;
    color: #fff;
    text-align: center;
}

#lnb li {
    float: left
}

#lnb li a:hover {
    color: #000;
}


section {
    width: 100%;
    height: 100vh;
}

#sec1 {
    background-color: red;
}

#sec2 {
    background-color: orange;
}

#sec3 {
    background-color: yellow;
}

#sec4 {
    background-color: blue;
}

footer {
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    color: #fff;
}